.skill {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    width: 250px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 21px;
    line-height: 25px;


}
.icon{

    height: 60px;
    width: 60px;
    background-color: #feff9e;
}
.discription{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #666;
}
