.contactsBlock {
    min-height: 100vh;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.contactsContainer {
    flex-direction: column;

}

.titleContacts {

    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;

}

.sentIcon {
    background-color: darkgray;
    height: 30px;
    width: 100px;
    margin: 20px;
}

.form {
    width: 280px;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;

}
