.header {
    height: 80px;
    background-color:  #212529;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

@media (max-width: 750px){
    .header {
        justify-content:center;
    }
}
