.distantBlock{
    min-height: 100vh;
    background-color: teal;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}

.distantContainer{
    flex-direction: column;


}


.distant {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;

}
.ingIcon{
    background-color: darkgray;
    height: 30px;
    width: 120px;

}
