.myBlock {
    min-height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}


.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.titleworks {
    background-color: darkgray;


}


.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;

}
